body {
    font-family: 'News Cycle', sans-serif;
}

.gameContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#gameMessages {
    text-align: center;
}

#playerActions {
    height: 300px;
    width: 510px;
    margin-bottom: 10px;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#player1 {
    width: 250px;
    float: left;
    margin: auto;
}

#player2 {
    width: 250px;
    float: right;
    margin: auto;
}

#chatWindow {
    height: 400px;
    width: 600px;
    order: 2;
}

#chatBox {
    height: 80%;
    width: 100%;
    margin: auto;
    border: solid 3px #cccccc;
    background-color: #dddddd;
    overflow: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
}

#chatMessage {
    width: 100%;
    margin: 3px;
}

.messages {
    margin: 5px;
    padding: 3px;
    background-color: #ffffff;
    border: solid 2px #cccccc;
}

#chatBox::-webkit-scrollbar { 
    width: 0 !important;
}

input {
    color: #ffffff;
    border: solid 2px #cccccc;
    background-color: #999999;
    padding: 3px;
}

input[type="submit"] {
    margin: 3px;
}

input[type="text"] {
    color: #000000 !important;
    margin: 3px;
    padding: 2px;
    border: solid 2px #cccccc;
    background-color: #ffffff;
    border-radius: 3px;
}