#player1 {
    width: 45%;
    float: left;
    margin: 5px;
}

#player2 {
    width: 45%;
    float: right;
    margin: 5px;
}

/* #player1login {
    display: show;
}

#player2login {
    display: show;
}

#player1choices {
    display: none;
}

#player2choices {
    display: none;
}

#player1leave {
    display: none;
}

#player2leave {
    display: none;
} */